@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0047AB;
  --secondary-color: #FF6600;
  --background-color: #F5F5F5;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent: #6ED3CF;
  --error-color: #D32F2F;
  --gradient-primary: linear-gradient(135deg, var(--primary-color) 0%, #3b87d3 100%);
  --gradient-secondary: linear-gradient(135deg, var(--secondary-color) 0%, #FF9933 100%);
  --box-shadow: 0 4px 6px rgba(75, 100, 117, 0.562);
  --border-radius: 8px;
  --transition-speed: 0.5s;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}
